<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aurelia Navigation Skeleton</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <link rel="icon" href="favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.js" integrity="sha256-58J0lufc42SnFtW9x/nNt8JDtRQsjbtk1gzjPI4Fypw=" crossorigin="anonymous"></script>
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
</html>
